@inherits LayoutComponentBase
@namespace Hunting.Web.Shared

<div class="hunt-app">
    <MudAppBar Dense="true" Fixed="false" Elevation="1" Class="hunt-topbar">
        <NavLink href="/" Match="NavLinkMatch.All" class="hunt-brand">classified</NavLink>
        <MudSpacer />
        <MudIconButton
            Icon="@Icons.Material.Filled.Settings"
            Color="Color.Inherit"
            Size="Size.Medium"
            Href="/settings"
            AriaLabel="Settings"
            Class="hunt-settings-link" />
    </MudAppBar>

    <div class="hunt-shell">
        <aside class="hunt-sidebar">
            <SchemaBrowser />
        </aside>

        <main class="hunt-main">
            @Body
        </main>
    </div>
</div>

<MudSnackbarProvider />
