<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Blazor.Components/deltazulu-tokens.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Blazor.Components/dz-components.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Blazor.Components/dz-shell.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Hunting.Web/css/app.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Hunting.Web/css/kql-helper-drawer.css" />
    <link rel="stylesheet" href="_content/DeltaZulu.Workbench.Web/app.css" />
    <link rel="stylesheet" href="platform.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <title>DeltaZulu Platform</title>
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/Vizor.ECharts/js/vizor-echarts-bundle-min.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/monaco.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/kql-helper-editor.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/monaco-theme-loader.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/dashboard-widget-editor.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/dashboard-transfer.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/dashboard-grid-layout.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/dashboard-chart-resize.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/charts.js"></script>
    <script src="_content/DeltaZulu.Hunting.Web/js/splitter.js"></script>
</body>
</html>
