<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="css/deltazulu-tokens.css" />
    <link rel="stylesheet" href="css/dz-components.css" />
    <link rel="stylesheet" href="css/dz-shell.css" />
    <link rel="stylesheet" href="css/analytics-app.css" />
    <link rel="stylesheet" href="css/kql-helper-drawer.css" />
    <link rel="stylesheet" href="css/governance-app.css" />
    <link rel="stylesheet" href="css/agent-management-app.css" />
    <link rel="stylesheet" href="css/platform.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <title>DeltaZulu Platform</title>
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/Vizor.ECharts/js/vizor-echarts-bundle-min.js"></script>
    <script src="js/monaco.js"></script>
    <script src="js/kql-helper-editor.js"></script>

    @{
#if DEBUG
    <script>window.deltaZuluDebug = true;</script>
#endif
    }

    <script src="js/monaco-theme-loader.js"></script>
    <script src="js/dashboard-widget-editor.js"></script>
    <script src="js/dashboard-grid-layout.js"></script>
    <script src="js/dashboard-chart-resize.js"></script>
    <script src="js/splitter.js"></script>
</body>
</html>
